version: '3.8'

services:

    jenkins:
        image: jenkins/jenkins:lts
        container_name: jenkins
        ports:
            - "8081:8080"
            - "50000:50000"
        restart: unless-stopped

    vaks-app:
        image: mohammedalianis/vaks-app:latest
        container_name: vaks-app
        ports:
            - "8080:8080"
        restart: unless-stopped
